body {
    color: #d0d3d9;
    font-family: 'Fira Code', monospace;
    background-color: #212121;
}

a:link, a:visited {
    text-decoration: none;
    color: #5679C4;
}

a:hover {
    color: #6F9BFC;
}

ul > li {
    margin-left: 30px;
}

h4 {
    padding-top: 30px;
    color: #58f;
    font-weight: bold;
}

h1 {
    padding-bottom: 25px;
    padding-top: 25px;
    color: #58f;
    font-weight: bold;
}

.container {
    width: 90%;
}

hr {
    background-color: white;
}

img {
    width: 20%;
}